<html>
    <head>

    </head>
    <body>
      <form method="post" action="index.ejs">
      inserire mail: 
      <input type=text id="mail" name="mail" placeholder=mail>
  <button>invia</button>
  
</form>
    </body>
</html>