<html>
    <head>
        <title>
         login/registrazione
        </title>
    </head>
    <body>
        <form method = post action=index.ejs>
            <input type=text name=user id=user placeholder="username" required>            
            <input type=password name=pw id=pw placeholder="password" required>
            <input type=submit name=login id=login value=login>
            <input type=submit name=pw id=pw value=password>          
        </form>
    </body>
</html>

